<h1>Pending Requests</h1>

<section class="users-section">
	<ul class="users-list">
		<% @pending.each do |friend| %>
			<% if !friend.nil? %>
				<li>
					Name: <%= friend.name %>	
				</li>
			<% end %>
		<% end %>
  </ul>
</section>
